body{
    min-width: 320px;
    background-color: white;
    color: black;
    margin: 0;
    font-family:'Josefin Sans';
    border-radius: 10px;
}
.item:nth-of-type(1){
    background-color:#023E73 ;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 30px 30px 30px 40px;
    justify-content: space-between;
}
.box1{
    grid-column: 1 / 2;
    background-color: white;
    font-size: 20px;
    color: black;
    margin-top: 0;
    flex-direction: column;
    padding-left: 40px;
    border: 1px black solid;

}
.box2{
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
  border: 1px black solid;
}
.box{ 
   color: black;
}
thead{
    color: white;
    background-color: rgb(21, 74, 121);
    border-bottom: #023E73 5px solid;
    border: #023E73 solid 1px;
}
.content{ 
    padding: 0px 20px;
    margin: 0px 20px ;
    text-align: left;
    justify-content: center;
}
th, td{
    padding: 10px;
    margin: 0;
    
}

table{
    width: 100%;
    text-align: left;
    background-color: white;
    border-collapse: collapse;
}
li{
    list-style: none;
    color: black;
    margin-bottom: 30px;
    line-height: 1.3;
}
h1{
    color: black;
}
input{
    display: flex;
    font-size: 16px;
    height: 10px;
    padding: 10px;
    width: auto;
}
.buscador{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: flex-end;
}
footer{
    padding: 30px;
    color:white ;
    margin: 0px;
    background-color: #023E73;
    height: 200px;
    display: flex;
    justify-content: start;
}
.menu{
    justify-content: space-around;
    align-items: center;
    justify-content: center;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
}
.menulist{
    margin-bottom: 0;
    margin: 20px;
    color: white;
}
.edit{
    display: flex;
    height: 80px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.editor{
    margin-left: 40px;
    background-color: rgb(184, 62, 62);
}
.tittle{
    color: white;
}

.buttons{
    width: auto;
}
.page{

    font-size: 20px;
}


button{
    margin: 20px;
    background-color: rgb(32, 78, 117);
    font-size: 14px;
    padding: 10px 20px;
    color: white;
    border-radius: 4px;
    border: none;
}
.man{
    align-items: center;
    border-radius: 4px;
    background-color: rgb(237, 244, 250);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.image{
    height: 20px;
    margin: 10px;
}
tr:nth-child(even){
    background-color: rgb(240, 240, 240);
}